.item {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  overflow: hidden;
  color: #000;
  font-size:24px;
  line-height: 24px;
  background-color: #fff;
}
.item::after {
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
  right: 20px;
  bottom: 0;
  left: 20px;
  border-bottom: 1px solid #efefef;
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
}

.circular {
  display: block;
  max-width: 40px;
  max-height: 40px;
  color: aqua;
  font-size: 0;
    vertical-align: middle;
}

circle {
  -webkit-animation: rv-circular 1.5s ease-in-out infinite;
  animation: rv-circular 1.5s ease-in-out infinite;
  stroke: currentColor;
  stroke-width: 3;
  stroke-linecap: round;
}